<h1 class="category-sheet-title">Categories</h1>
<div class="category-container">
  <mat-chip-listbox aria-label="Categories">
    <div class="chip-item" *ngFor="let category of categoriesList">
      <mat-chip *ngIf="!categoriesList[category.id - 1].selected" (click)="categoriesList[category.id - 1].selected = true">
        {{category.name}}
      </mat-chip>
      <mat-chip-option *ngIf="categoriesList[category.id - 1].selected" selected (click)="categoriesList[category.id - 1].selected = false">
        {{category.name}}
      </mat-chip-option>
    </div>
  </mat-chip-listbox>
</div>
<div class="action-buttons">
  <button mat-button color="warn" (click) = "onCancel()"> Cancel</button>
  <button mat-button color="primary"(click)="sendCategoriesSelected()" > Apply</button>
</div>
